.btn-blue {
	background-color: green;
	padding: 15px 20px;
	border-radius: 8px
	color: white
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
